.grader {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.grader button {
  max-width: 200px;
  height: auto;
  padding: 20px;
}

.container {
  flex: 1;
  padding: 20px;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.grader__list {
  display: flex;
}

.grader__list h4 {
  text-align: center;
}

.grader input {
  border-radius: 10px;
}

.grader__table {
  text-align: center;
  justify-content: center;
}

.grader__table_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}


